h1 {
  text-align: center;
}

p {
  text-align: justify;
  
}

body {
  background: url('./TechImg1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
