* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    padding: 130px 100px 130px 100px;
}

/*--- Navigation ---*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #24252a;
}

header #title {
    color: white;   
}

header #title h1 {
    font-size: 40px;
}

header .navigation {
    list-style: none;
}

header .navigation li {
    display: inline-block;
    padding: 0px 20px;
}

header .navigation li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header .navigation li a:hover {
    color: #0088a9;
}

/*--- Introduction ---*/

.introduction {
    background-color: #646568;
    display: grid;
}

.introduction .AboutTitle {
    padding: 5px;
}

.introduction .AboutTitle h1 {
    text-align: center;
    font-size: 5vw;
    color: lightgray;
}

.introduction .AboutText {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5em;
    align-items: center;
}

.introduction .AboutText img {
    width: 100%;
}

.introduction .AboutText p {
    text-align: justify;
    font-size: 1.4vw;
    color: lightgray;
}

/*--- Science ---*/

.science {
    background-color: #38393B;
    display: grid;
}

.science .ScienceTitle {
    padding: 5px;
}

.science .ScienceTitle h1 {
    text-align: center;
    font-size: 5vw;
    color: lightgray;
}

.science .ScienceText {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5em;
    align-items: center;
}

.science .ScienceText img {
    width: 100%;
}

.science .ScienceText p {
    text-align: justify;
    font-size: 1.4vw;
    color: lightgray;
}

/*--- Technology ---*/

.technology {
    background-color: #646568;
    display: grid;
}

.technology .TechnologyTitle {
    padding: 5px;
}

.technology .TechnologyTitle h1 {
    text-align: center;
    font-size: 5vw;
    color: lightgray;
}

.technology .TechnologyText {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5em;
    align-items: center;
}

.technology .TechnologyText img {
    width: 100%;
}

.technology .TechnologyText p {
    text-align: justify;
    font-size: 1.4vw;
    color: lightgray;
}

/*--- Engineering ---*/

.engineering {
    background-color: #38393B;
    display: grid;
}

.engineering .EngineeringTitle {
    padding: 5px;
}

.engineering .EngineeringTitle h1 {
    text-align: center;
    font-size: 5vw;
    color: lightgray;
}

.engineering .EngineeringText {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5em;
    align-items: center;
}

.engineering .EngineeringText img {
    width: 100%;
}

.engineering .EngineeringText p {
    text-align: justify;
    font-size: 1.4vw;
    color: lightgray;
}

/*--- Mathematics ---*/

.mathematics {
    background-color: #646568;
    display: grid;
}

.mathematics .MathematicsTitle {
    padding: 5px;
}

.mathematics .MathematicsTitle h1 {
    text-align: center;
    font-size: 5vw;
    color: lightgray;
}

.mathematics .MathematicsText {
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5em;
    align-items: center;
}

.mathematics .MathematicsText img {
    width: 100%;
}

.mathematics .MathematicsText p {
    text-align: justify;
    font-size: 1.4vw;
    color: lightgray;
}

/*--- Footer ---*/

.footer {
    background-color: #38393B;
}

.footer .FooterTitle {
    padding: 10px;
    padding-bottom: 20px;
}

.footer .FooterTitle h2 {
    text-align: center;
    font-size: 2.5vw;
    color: white;
}

.footer .FooterLinks {
    text-align: center;
    padding: 3vw;
}

.footer .FooterLinks a {
    font-size: 3vw;
    color: white;
    display: inline-block;
    height: 60px;
    width: 100px;
    text-align: center;
}

/*--- Copyright ---*/

.copyrightText {
    background-color: #38393B;
    padding: 8px 40px;
    border-top: 1px solid #646568;;
    text-align: center;
    color: white;
  }
